* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 119px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 69px;
}
.list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    font-style: normal;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.list li:hover {
    color: #5955b3;
}
.small-button {
   padding: 14px 28px;
   background-color: #5955b3;
   border: none;
   border-radius: 10px;
   font-weight: 500;
   font-size: 15px;
   line-height: 24px;
   font-style: normal;
   display: flex;
   align-items: center;
   text-align: center;
   cursor: pointer;
   color: #ffffff;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.heading {
    font-weight: 600;
    font-size: 60px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #3c2f60;  
}
.heading span {
    color: #5955b3;
}
.para {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    font-style: normal; 
    line-height: 26px;
}
.large-button {
    margin-top: 30px;
    background-color: #5955b3;
    padding: 14px 28px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    align-items: center;
    text-align: center;
    line-height: 24px;
}

